@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
html {
    position: relative;
    min-height: 100%;
}

button {
    font-family: 'Barlow';
    font-size: 36px;
    color: #fcfcfc;
    border-radius: 0;
    border: none;
    padding: 25px 0px;
}

button.digit, button.equal, button.decimal {
    background-color: #212121;
}

button.operator {
    background-color: #454545
}

button.delete {
    background-color: #c6acac;
}

button.clear {
    background-color: #b25c5c
}

button.digit:hover, button.equal:hover, button.decimal:hover {
    background-color: #212121f1
}

button.operator:hover {
    background-color: #454545f1;
}

button.delete:hover {
    background-color: #c6acacde;
}

button.clear:hover {
    background-color: #b25c5cf1;
}

button:active {
    font-size: 32px;
}

button.clear:active, button.delete:active {
    font-size: 36px;
}

.equation, .answer {
    font-family: 'Barlow';
    padding-left: 36px;
}

.equation {
    padding-top: 25px;
    font-weight: 300;
    font-size: 36px;
}

.answer {
    font-weight: 500;
    font-size: 48px;
}

.calculator {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 96px;
}

.answerContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer {
    font-family: 'Barlow';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #212121;
    font-size: 24px;
    color: #fcfcfc;
}